html, body {
    margin: 0;
    background-color: #075E54;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.login-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
    display: flex;
    width: 65%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 5px 0;
}

.login-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.name-input, .room-input {
    height: 50px;
    font-size: 30px;
    direction: rtl;
}

.buttons {
    display: flex;
    flex-flow: row nowrap;
}

.buttons > * {
    width: 50%;
    height: 10vh;
    margin-top: 10px;
}