html, body {
    margin: 0;
    background-color: #E3CD81FF;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#login-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #B1B3B3FF;
    display: flex;
    width: 50%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#title {
    margin: 5px 0;
}

#login-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#input-line {
    height: 50px;
    font-size: 30px;
    direction: rtl;
}

#login-button {
    width: 40%;
}