h1, h3, p, body {
    margin: 0;
}

@font-face {
    font-family: ebayFont;
    src: url(ebay-font.ttf);
  }

body {
    font-family: ebayFont, Arial, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

strong {
    margin-right: 2em;
}

.vertical-line {
    display: inline-block;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

#nav-left-side {
    display: flex;
}

#nav-right-side {
    display: flex;
}

ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}
.navbar-item {
    display: block;
    font-size: 0.8em;
    padding: 0.5em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 8vw;
    box-shadow: 0 0.3vw 0.3vw 0 rgba(0,0,0,0.2);
    padding: 1vw 1.6vw;
    z-index: 1;
    flex-direction: column;
}

.dropdown-content > a {
    font-size: 1em;
}

.dropdown:hover .dropdown-content {
    display: block;
}

hr {
    border-width: 0.05em;
}

.search-bar {
    display: flex;
    width: 100%;
    position: relative;
}

#father-of-arrow {
    display: flex;
    align-items: center;
}

#search-box {
    width: 100%;
    font-family: FontAwesome;
}

#all-catagories {
    width: 25%;
    font-family: FontAwesome;
}

.search-bar {
    height: 2.5em;
}

#search-button {
    border: 0;
    color: white;
    background-color: #3665f3;
    width: 13em; 
    margin-left: 0.3vw;
}

.form {
    display: flex;
    flex-flow: row nowrap;
}

#advanced {
    margin-top: 1em;
    font-weight: lighter;
    color: gray;
    font-size: smaller;
}

.sections-navbar {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-flow: wrap;
}

.color-gray {
    color: gray;
}

#sliding-picture {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 1em;
}

.titles {
    font-size: 1.5em;
    display: inline-block;
    padding: 1em;
}

.line-of-pics {
    display: flex;
    flex-flow: row wrap;
    justify-content: row wrap;
    margin-bottom: 1em;
}

.pics-with-titles {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em;
    flex: 1;
}

.pics-with-titles a {
    text-align: center;
}

.brand-pictures {
    display: block;
    width: 10em;
    height: 10em;
    max-width: 100%;   
}

.suggestion-pictures {
    display: block;
    width: 13.5em;
    height: 13.5em;
    max-width: 100%;
}

#cut-picture {
    width: 8.5em !important;
}

.bigger-text {
    font-size: 1.5em;
}

.protection {
    background-color: #c2f5ff;
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    border-radius: 1px;
}

#shield-pic {
    padding: 1em;
}

#left-side {
    flex: 1;
}

.learn-more {
    background-color: #c2f5ff;
    font-size: 1.2em;
    height: 2.5em;
}

#upper-learn-more {
    margin-right: 1em;
}

.learn-more:hover {
    background-color: #0f1b7b;
}

#favourites {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

#fav-left-side {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 1.5em;
    flex: 1;
}

#pretty-girl {
    max-width: 100%;
    height: auto;
    width: 100%;
    flex: 1;
}

#links {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    width: 100%;
}

#links a {
    font-size: 0.9em;
    color: gray;
}

.bunch-of-links {
    display: flex;
    flex-flow: column;
    padding: 1em;
}

.same-col {
    display: flex;
    flex-flow: column;
}

.upper-col {
    margin-bottom: 1.5em;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 5em 0;
    font-size: smaller;
    width: 100%;
}

#bottom-hr {
    margin: 4em 0;
}

.bottom {
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
}

.container {
    padding: 1em;
}

.header {
    margin: 0 auto;
}

#usa {
    width: 100%;
    font-family: FontAwesome;
}

main , .header , .bottom {
    max-width: 1300px;
    min-width: 700px;
}