html, body {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

#title {
    margin: 5px 0;
}

#login-container {
    background-color: lightslategray;
    display: flex;
    width: 50%;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

#login-form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#input-line {
    direction: rtl;
}

#login-button {
    width: 40%;
}